# Import Necessary Packages

In [19]:
import pandas as pd
import numpy as np
import warnings

from datetime import datetime, timedelta

warnings.filterwarnings("ignore")

# Dimensions

## Education

In [36]:
hnp_data = pd.read_csv("education.csv")
hnp_data.head()

,SeriesName,SeriesCode,CountryName,CountryCode,2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Africa Eastern and Southern,AFE,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
1,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Africa Western and Central,AFW,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
2,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Arab World,ARB,58.8121681213379,58.6921691894531,59.1082191467285,60.4463195800781,58.9698181152344,60.2376518249512,62.4384498596191,66.0942764282227,65.2387313842773,67.7367477416992,65.5670394897461,67.3514862060547,68.6543579101563,65.5303192138672,65.8576126098633,66.1968994140625
3,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Caribbean small states,CSS,91.4608535766602,91.6320877075195,92.3097915649414,92.5576705932617,92.7684631347656,92.9917678833008,93.1499099731445,93.0394897460938,92.8167495727539,92.9547271728516,93.0601425170898,..,..,..,..,..
4,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Central Europe and the Baltics,CEB,98.1644287109375,98.184440612793,98.2189102172852,98.2749710083008,98.5478668212891,98.5772323608398,98.6045684814453,98.6247100830078,98.6415405273438,98.6618728637695,98.6808471679688,98.7023162841797,..,..,..,..

In [37]:
def get_country_rows(list_country, data):
    country_idx = {}
    for country in list_country:
        country_idx[country] = []
    for idx, row in data.iterrows():
        if row.CountryName in list_country:
            country_idx[row.CountryName].append(idx)
    return country_idx

country_list = ["Canada"]
x = get_country_rows(country_list,hnp_data)
print(x)

{'Canada': [84, 350, 616, 882, 1148, 1414, 1680, 1946, 2212, 2478, 2744, 3010, 3276, 3542, 3808, 4074, 4340, 4606, 4872, 5138, 5404, 5670]}

In [45]:

education_df = pd.DataFrame(
    columns = ["education_key", "literacy_rate_percent_m_15-24","literacy_rate_percent_15-24","literacy_rate_percent_f_15-plus","literacy_rate_percent_m_15-plus","literacy_percent_15-plus","primary_completion_rate_percent_f","primary_completion_rate_percent_m","primary_completion_rate_percent","primary_enroll_rate_percent_gross","pimary_enroll_rate_percent_gross_f","pimary_enroll_rate_percent_gross_m","primary_enroll_rate_percent_net","primary_enroll_rate_percent_net_f","primary_enroll_rate_percent_net_m","secondary_enroll_rate_percent_gross","secondary_enroll_rate_percent_gross_f","secondary_enroll_rate_percent_gross_m","secondary_enroll_rate_percent_net","secondary_enroll_rate_percent_net_f","secondary_enroll_rate_percent_net_m","tertiary_enroll_rate_percent_gross","spending_education_percent_gdp"]
)
hnp_data.head()

,SeriesName,SeriesCode,CountryName,CountryCode,2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Africa Eastern and Southern,AFE,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
1,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Africa Western and Central,AFW,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
2,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Arab World,ARB,58.8121681213379,58.6921691894531,59.1082191467285,60.4463195800781,58.9698181152344,60.2376518249512,62.4384498596191,66.0942764282227,65.2387313842773,67.7367477416992,65.5670394897461,67.3514862060547,68.6543579101563,65.5303192138672,65.8576126098633,66.1968994140625
3,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Caribbean small states,CSS,91.4608535766602,91.6320877075195,92.3097915649414,92.5576705932617,92.7684631347656,92.9917678833008,93.1499099731445,93.0394897460938,92.8167495727539,92.9547271728516,93.0601425170898,..,..,..,..,..
4,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Central Europe and the Baltics,CEB,98.1644287109375,98.184440612793,98.2189102172852,98.2749710083008,98.5478668212891,98.5772323608398,98.6045684814453,98.6247100830078,98.6415405273438,98.6618728637695,98.6808471679688,98.7023162841797,..,..,..,..

In [101]:
country_list = ["Canada"]
x = get_country_rows(country_list, hnp_data)
year_list = ["2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020"]

ed_country_dim_data = {}
for country in country_list:
    ed_country_dim_data[country]={}
    for year in year_list:
        ed_country_dim_data[country][year] = {}
counter = 1  

year_idx = {}
idx = 4
for year in year_list:
    year_idx[year] = idx
    idx=idx+1
    
def populate_dim_data(dim_data,country,column,row):
    for key, value in year_idx.items():
        dim_data[country][key][column] = row[value]


hnp_data.values.tolist()
for row in hnp_data.values.tolist():
    if row[2] in country_list:
        if row[0] == "Literacy rate, adult female (% of females ages 15 and above)":
            populate_dim_data(ed_country_dim_data,row[2],"literacy_rate_percent_f_15-plus",row)
        elif row[0] == "Literacy rate, adult male (% of males ages 15 and above)":
            populate_dim_data(ed_country_dim_data,row[2],"literacy_rate_percent_m_15-plus",row)
        elif row[0] == "Literacy rate, adult total (% of people ages 15 and above)":
            populate_dim_data(ed_country_dim_data,row[2],"literacy_percent_15-plus",row)
        elif row[0] == "Literacy rate, youth total (% of people ages 15-24)":
            populate_dim_data(ed_country_dim_data,row[2],"literacy_rate_percent_15-24",row)
        elif row[0] == "Literacy rate, youth male (% of males ages 15-24)":
            populate_dim_data(ed_country_dim_data,row[2],"literacy_rate_percent_m_15-24",row)
        elif row[0] == "Primary completion rate, female (% of relevant age group)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_completion_rate_percent_f",row)
        elif row[0] == "Primary completion rate, male (% of relevant age group)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_completion_rate_percent_m",row)
        elif row[0] == "Primary completion rate, total (% of relevant age group)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_completion_rate_percent",row)
        elif row[0] == "School enrollment, primary (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_enroll_rate_percent_gross",row)
        elif row[0] == "School enrollment, primary, female (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"pimary_enroll_rate_percent_gross_f",row)
        elif row[0] == "School enrollment, primary, male (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"pimary_enroll_rate_percent_gross_m",row)
        elif row[0] == "School enrollment, primary (% net)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_enroll_rate_percent_net",row)
        elif row[0] == "School enrollment, primary, female (% net)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_enroll_rate_percent_net_f",row)
        elif row[0] == "School enrollment, primary, male (% net)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_enroll_rate_percent_net_m",row)
        elif row[0] == "School enrollment, secondary (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"secondary_enroll_rate_percent_gross",row)
        elif row[0] == "School enrollment, secondary, female (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"secondary_enroll_rate_percent_gross_f",row)
        elif row[0] == "School enrollment, secondary, male (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"secondary_enroll_rate_percent_gross_m",row)
        elif row[0] == "School enrollment, secondary (% net)":
            populate_dim_data(ed_country_dim_data,row[2],"secondary_enroll_rate_percent_net",row)
        elif row[0] == "School enrollment, secondary, female (% net)":
            populate_dim_data(ed_country_dim_data,row[2],"secondary_enroll_rate_percent_net_f",row)
        elif row[0] == "School enrollment, secondary, male (% net)":
            populate_dim_data(ed_country_dim_data,row[2],"secondary_enroll_rate_percent_net_m",row)
        elif row[0] == "School enrollment, tertiary (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"tertiary_enroll_rate_percent_gross",row)
        elif row[0] == "Government expenditure on education, total (% of GDP)":
            populate_dim_data(ed_country_dim_data,row[2],"spending_education_percent_gdp",row)

list_data = []
for country in country_list:
    for year in year_list:
        list_data.append([ed_country_dim_data[country][year]])
#         education_df.append(pd.DataFrame(), ignore_index=True)


for i in list_data:
    education_df = education_df.append(pd.DataFrame(i), ignore_index=True)

In [102]:
education_df.head()

,education_key,literacy_rate_percent_m_15-24,literacy_rate_percent_15-24,literacy_rate_percent_f_15-plus,literacy_rate_percent_m_15-plus,literacy_percent_15-plus,primary_completion_rate_percent_f,primary_completion_rate_percent_m,primary_completion_rate_percent,primary_enroll_rate_percent_gross,...,primary_enroll_rate_percent_net_f,primary_enroll_rate_percent_net_m,secondary_enroll_rate_percent_gross,secondary_enroll_rate_percent_gross_f,secondary_enroll_rate_percent_gross_m,secondary_enroll_rate_percent_net,secondary_enroll_rate_percent_net_f,secondary_enroll_rate_percent_net_m,tertiary_enroll_rate_percent_gross,spending_education_percent_gdp
0,NaN,..,..,..,..,..,..,..,..,97.3645706176758,...,..,..,101.391189575195,100.234382629395,102.487060546875,..,..,..,..,NaN
1,NaN,..,..,..,..,..,..,..,..,98.8806304931641,...,..,..,101.728248596191,100.669502258301,102.732360839844,..,..,..,..,NaN
2,NaN,..,..,..,..,..,..,..,..,98.9664764404297,...,..,..,101.90348815918,100.74836730957,103.001899719238,..,..,..,63.6000595092773,NaN
3,NaN,..,..,..,..,..,..,..,..,98.013313293457,...,..,..,102.344436645508,101.104248046875,103.525932312012,..,..,..,63.7673988342285,NaN
4,NaN,..,..,..,..,..,..,..,..,99.0087966918945,...,..,..,102.734443664551,101.503608703613,103.908081054688,..,..,..,63.0657691955566,NaN