# Import Necessary Packages

In [2]:
import pandas as pd
import numpy as np
import warnings

from datetime import datetime, timedelta

warnings.filterwarnings("ignore")

# Dimensions

## Country

In [28]:
country_list = ["Bangladesh", "Canada", "Chad", "Guinea", "Indonesia", "Mexico", "Philippines", "Togo", "United States"]

country_dimension_df = pd.DataFrame(
    columns=["Country_key", "Name", "Region", "Continent", "Currency", "Capital", "Total_population","Population_growth_percent", "Total_labour_force", "Birth_rate", "Death_rate",  "GNI_per_capita", "Income_group"]
)
# "Mortality_rate_under5", "Mortality_rate_under5_m", "Mortality_rate_under5_f", "Mortality_rate_infant", "Mortality_rate_infant_m", "Mortality_rate_infant_f", "Mortality_rate_neonatal",

# CSV file of HNP country data
raw_geo_data = pd.read_csv('raw_data.HNP_CountryData.csv')
# CSV file of HNP country dimension statistics
raw_countryattr_data = pd.read_csv('raw_data.HNP_CountryAttributes.csv')

# enrich the birth rate and death rate data because they are missing 2020 values
enrich_birth_rate = pd.read_csv('raw_data.WHO-crude_birth_rate-2020.csv')

# for country in country_list:
#     raw_
# enrich the birth rate and death rate data because they are missing 2020 values


x = 1
for country in country_list:
    country_row = {}
    country_row['Country_key'] = x + 1000
    country_row['Name'] = country
    country_row['Region'] = raw_geo_data.loc[raw_geo_data['Table Name'] == country, 'Region'].values[0]
    # country_row['Continent']
    country_row['Currency'] = raw_geo_data.loc[raw_geo_data['Table Name'] == country, 'Currency Unit'].values[0]
    # country_row['Capital']
    country_row['Income_group'] = raw_geo_data.loc[raw_geo_data['Table Name'] == country, 'Income Group'].values[0]

    country_row['']

    country_dimension_df = country_dimension_df.append(pd.DataFrame([country_row]), ignore_index=True)

country_dimension_df.head(9)
# print(country_dimension_df['Currency'])
# raw_data.head()
# print(raw_data.loc[raw_data['Table Name'] == country, 'Income Group'])

,Country_key,Name,Region,Continent,Currency,Capital,Total_population,Birth_rate,Death_rate,Mortality_rate_under5,Mortality_rate_under5_m,Mortality_rate_under5_f,Mortality_rate_infant,Mortality_rate_infant_m,Mortality_rate_infant_f,Mortality_rate_neonatal,GNI_per_capita,Income_group
0,101,Bangladesh,South Asia,NaN,Bangladeshi taka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lower middle income
1,101,Canada,North America,NaN,Canadian dollar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High income
2,101,Chad,Sub-Saharan Africa,NaN,Central African CFA franc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low income
3,101,Guinea,Sub-Saharan Africa,NaN,Guinean franc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low income
4,101,Indonesia,East Asia & Pacific,NaN,Indonesian rupiah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lower middle income
5,101,Mexico,Latin America & Caribbean,NaN,Mexican peso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Upper middle income
6,101,Philippines,East Asia & Pacific,NaN,Philippine peso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lower middle income
7,101,Togo,Sub-Saharan Africa,NaN,West African CFA franc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low income
8,101,United States,North America,NaN,U.S. dollar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High income

## Education

In [3]:
hnp_data = pd.read_csv("raw_data/education.csv")
hnp_data.head()

,SeriesName,SeriesCode,CountryName,CountryCode,2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Africa Eastern and Southern,AFE,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
1,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Africa Western and Central,AFW,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
2,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Arab World,ARB,58.8121681213379,58.6921691894531,59.1082191467285,60.4463195800781,58.9698181152344,60.2376518249512,62.4384498596191,66.0942764282227,65.2387313842773,67.7367477416992,65.5670394897461,67.3514862060547,68.6543579101563,65.5303192138672,65.8576126098633,66.1968994140625
3,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Caribbean small states,CSS,91.4608535766602,91.6320877075195,92.3097915649414,92.5576705932617,92.7684631347656,92.9917678833008,93.1499099731445,93.0394897460938,92.8167495727539,92.9547271728516,93.0601425170898,..,..,..,..,..
4,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Central Europe and the Baltics,CEB,98.1644287109375,98.184440612793,98.2189102172852,98.2749710083008,98.5478668212891,98.5772323608398,98.6045684814453,98.6247100830078,98.6415405273438,98.6618728637695,98.6808471679688,98.7023162841797,..,..,..,..

In [4]:
def get_country_rows(list_country, data):
    country_idx = {}
    for country in list_country:
        country_idx[country] = []
    for idx, row in data.iterrows():
        if row.CountryName in list_country:
            country_idx[row.CountryName].append(idx)
    return country_idx

x = get_country_rows(country_list,hnp_data)
print(x)

{'Bangladesh': [64, 330, 596, 862, 1128, 1394, 1660, 1926, 2192, 2458, 2724, 2990, 3256, 3522, 3788, 4054, 4320, 4586, 4852, 5118, 5384, 5650], 'Cambodia': [82, 348, 614, 880, 1146, 1412, 1678, 1944, 2210, 2476, 2742, 3008, 3274, 3540, 3806, 4072, 4338, 4604, 4870, 5136, 5402, 5668], 'Canada': [84, 350, 616, 882, 1148, 1414, 1680, 1946, 2212, 2478, 2744, 3010, 3276, 3542, 3808, 4074, 4340, 4606, 4872, 5138, 5404, 5670], 'Chad': [87, 353, 619, 885, 1151, 1417, 1683, 1949, 2215, 2481, 2747, 3013, 3279, 3545, 3811, 4077, 4343, 4609, 4875, 5141, 5407, 5673], 'Eritrea': [110, 376, 642, 908, 1174, 1440, 1706, 1972, 2238, 2504, 2770, 3036, 3302, 3568, 3834, 4100, 4366, 4632, 4898, 5164, 5430, 5696], 'Mexico': [176, 442, 708, 974, 1240, 1506, 1772, 2038, 2304, 2570, 2836, 3102, 3368, 3634, 3900, 4166, 4432, 4698, 4964, 5230, 5496, 5762], 'Philippines': [204, 470, 736, 1002, 1268, 1534, 1800, 2066, 2332, 2598, 2864, 3130, 3396, 3662, 3928, 4194, 4460, 4726, 4992, 5258, 5524, 5790], 'South Sudan': [227, 493, 759, 1025, 1291, 1557, 1823, 2089, 2355, 2621, 2887, 3153, 3419, 3685, 3951, 4217, 4483, 4749, 5015, 5281, 5547, 5813], 'United States': [255, 521, 787, 1053, 1319, 1585, 1851, 2117, 2383, 2649, 2915, 3181, 3447, 3713, 3979, 4245, 4511, 4777, 5043, 5309, 5575, 5841]}

In [6]:

education_df = pd.DataFrame(
    columns = ["education_key", "literacy_rate_percent_m_15-24","literacy_rate_percent_15-24","literacy_rate_percent_f_15-plus","literacy_rate_percent_m_15-plus","literacy_percent_15-plus","primary_completion_rate_percent_f","primary_completion_rate_percent_m","primary_completion_rate_percent","primary_enroll_rate_percent_gross","pimary_enroll_rate_percent_gross_f","pimary_enroll_rate_percent_gross_m","primary_enroll_rate_percent_net","primary_enroll_rate_percent_net_f","primary_enroll_rate_percent_net_m","secondary_enroll_rate_percent_gross","secondary_enroll_rate_percent_gross_f","secondary_enroll_rate_percent_gross_m","secondary_enroll_rate_percent_net","secondary_enroll_rate_percent_net_f","secondary_enroll_rate_percent_net_m","tertiary_enroll_rate_percent_gross","spending_education_percent_gdp"]
)
hnp_data.head()

,SeriesName,SeriesCode,CountryName,CountryCode,2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Africa Eastern and Southern,AFE,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
1,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Africa Western and Central,AFW,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
2,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Arab World,ARB,58.8121681213379,58.6921691894531,59.1082191467285,60.4463195800781,58.9698181152344,60.2376518249512,62.4384498596191,66.0942764282227,65.2387313842773,67.7367477416992,65.5670394897461,67.3514862060547,68.6543579101563,65.5303192138672,65.8576126098633,66.1968994140625
3,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Caribbean small states,CSS,91.4608535766602,91.6320877075195,92.3097915649414,92.5576705932617,92.7684631347656,92.9917678833008,93.1499099731445,93.0394897460938,92.8167495727539,92.9547271728516,93.0601425170898,..,..,..,..,..
4,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Central Europe and the Baltics,CEB,98.1644287109375,98.184440612793,98.2189102172852,98.2749710083008,98.5478668212891,98.5772323608398,98.6045684814453,98.6247100830078,98.6415405273438,98.6618728637695,98.6808471679688,98.7023162841797,..,..,..,..

In [7]:
x = get_country_rows(country_list, hnp_data)
year_list = ["2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020"]

ed_country_dim_data = {}
for country in country_list:
    ed_country_dim_data[country]={}
    for year in year_list:
        ed_country_dim_data[country][year] = {}
counter = 1  

year_idx = {}
idx = 4
for year in year_list:
    year_idx[year] = idx
    idx=idx+1
    
def populate_dim_data(dim_data,country,column,row):
    for key, value in year_idx.items():
        dim_data[country][key][column] = row[value]


hnp_data.values.tolist()
for row in hnp_data.values.tolist():
    if row[2] in country_list:
        if row[0] == "Literacy rate, adult female (% of females ages 15 and above)":
            populate_dim_data(ed_country_dim_data,row[2],"literacy_rate_percent_f_15-plus",row)
        elif row[0] == "Literacy rate, adult male (% of males ages 15 and above)":
            populate_dim_data(ed_country_dim_data,row[2],"literacy_rate_percent_m_15-plus",row)
        elif row[0] == "Literacy rate, adult total (% of people ages 15 and above)":
            populate_dim_data(ed_country_dim_data,row[2],"literacy_percent_15-plus",row)
        elif row[0] == "Literacy rate, youth total (% of people ages 15-24)":
            populate_dim_data(ed_country_dim_data,row[2],"literacy_rate_percent_15-24",row)
        elif row[0] == "Literacy rate, youth male (% of males ages 15-24)":
            populate_dim_data(ed_country_dim_data,row[2],"literacy_rate_percent_m_15-24",row)
        elif row[0] == "Primary completion rate, female (% of relevant age group)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_completion_rate_percent_f",row)
        elif row[0] == "Primary completion rate, male (% of relevant age group)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_completion_rate_percent_m",row)
        elif row[0] == "Primary completion rate, total (% of relevant age group)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_completion_rate_percent",row)
        elif row[0] == "School enrollment, primary (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_enroll_rate_percent_gross",row)
        elif row[0] == "School enrollment, primary, female (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"pimary_enroll_rate_percent_gross_f",row)
        elif row[0] == "School enrollment, primary, male (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"pimary_enroll_rate_percent_gross_m",row)
        elif row[0] == "School enrollment, primary (% net)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_enroll_rate_percent_net",row)
        elif row[0] == "School enrollment, primary, female (% net)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_enroll_rate_percent_net_f",row)
        elif row[0] == "School enrollment, primary, male (% net)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_enroll_rate_percent_net_m",row)
        elif row[0] == "School enrollment, secondary (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"secondary_enroll_rate_percent_gross",row)
        elif row[0] == "School enrollment, secondary, female (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"secondary_enroll_rate_percent_gross_f",row)
        elif row[0] == "School enrollment, secondary, male (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"secondary_enroll_rate_percent_gross_m",row)
        elif row[0] == "School enrollment, secondary (% net)":
            populate_dim_data(ed_country_dim_data,row[2],"secondary_enroll_rate_percent_net",row)
        elif row[0] == "School enrollment, secondary, female (% net)":
            populate_dim_data(ed_country_dim_data,row[2],"secondary_enroll_rate_percent_net_f",row)
        elif row[0] == "School enrollment, secondary, male (% net)":
            populate_dim_data(ed_country_dim_data,row[2],"secondary_enroll_rate_percent_net_m",row)
        elif row[0] == "School enrollment, tertiary (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"tertiary_enroll_rate_percent_gross",row)
        elif row[0] == "Government expenditure on education, total (% of GDP)":
            populate_dim_data(ed_country_dim_data,row[2],"spending_education_percent_gdp",row)

list_data = []
for country in country_list:
    for year in year_list:
        list_data.append([ed_country_dim_data[country][year]])
#         education_df.append(pd.DataFrame(), ignore_index=True)


for i in list_data:
    education_df = education_df.append(pd.DataFrame(i), ignore_index=True)

In [102]:
education_df.head()

,education_key,literacy_rate_percent_m_15-24,literacy_rate_percent_15-24,literacy_rate_percent_f_15-plus,literacy_rate_percent_m_15-plus,literacy_percent_15-plus,primary_completion_rate_percent_f,primary_completion_rate_percent_m,primary_completion_rate_percent,primary_enroll_rate_percent_gross,...,primary_enroll_rate_percent_net_f,primary_enroll_rate_percent_net_m,secondary_enroll_rate_percent_gross,secondary_enroll_rate_percent_gross_f,secondary_enroll_rate_percent_gross_m,secondary_enroll_rate_percent_net,secondary_enroll_rate_percent_net_f,secondary_enroll_rate_percent_net_m,tertiary_enroll_rate_percent_gross,spending_education_percent_gdp
0,NaN,..,..,..,..,..,..,..,..,97.3645706176758,...,..,..,101.391189575195,100.234382629395,102.487060546875,..,..,..,..,NaN
1,NaN,..,..,..,..,..,..,..,..,98.8806304931641,...,..,..,101.728248596191,100.669502258301,102.732360839844,..,..,..,..,NaN
2,NaN,..,..,..,..,..,..,..,..,98.9664764404297,...,..,..,101.90348815918,100.74836730957,103.001899719238,..,..,..,63.6000595092773,NaN
3,NaN,..,..,..,..,..,..,..,..,98.013313293457,...,..,..,102.344436645508,101.104248046875,103.525932312012,..,..,..,63.7673988342285,NaN
4,NaN,..,..,..,..,..,..,..,..,99.0087966918945,...,..,..,102.734443664551,101.503608703613,103.908081054688,..,..,..,63.0657691955566,NaN