# Import Necessary Packages

In [2]:
import pandas as pd
import numpy as np
import warnings
import copy as cp

from datetime import datetime, timedelta

warnings.filterwarnings("ignore")

# Dimensions

## Country

In [23]:
country_list = ["Bangladesh", "Canada", "Chad", "Guinea", "Indonesia", "Mexico", "Philippines", "Togo", "United States"]

country_dimension_df = pd.DataFrame(
    columns=["Country_key", "Surrogate_year", "Name", "Region", "Continent", "Currency", "Capital", "Total_population","Population_growth_percent", "Total_labour_force", "Birth_rate", "Death_rate",  "GNI_per_capita", "Income_group"]
)

dict_capital = {
    'Bangladesh': 'Dhaka',
    'Canada': 'Ottawa',
    'Chad': 'N\'Djamena',
    'Guinea': 'Conakry',
    'Indonesia': 'Jakarta',
    'Mexico': 'Mexico City',
    'Philippines': 'Manila',
    'Togo': 'Lomé',
    'United States': 'Washington, D.C.'
}

dict_continent = {
    'Bangladesh': 'Asia',
    'Canada': 'North America',
    'Chad': 'Africa',
    'Guinea': 'Africa',
    'Indonesia': 'Asia',
    'Mexico': 'North America',
    'Philippines': 'Asia',
    'Togo': 'Africa',
    'United States': 'North America'
}

# CSV file of HNP country data
raw_geo_data = pd.read_csv('raw_data/HNP_CountryData.csv')
# CSV file of HNP country dimension statistics
raw_att_data = pd.read_csv('raw_data/HNP_CountryAttributes.csv')
raw_att_data = raw_att_data.drop(
    ['Series Code', 'Country Code'], axis=1
)
raw_att_data = raw_att_data.rename(
    columns={
        'Series Name': 'Series',
        'Country Name': 'Country',
        '2005 [YR2005]': 'y2005',
        '2006 [YR2006]': 'y2006',
        '2007 [YR2007]': 'y2007',
        '2008 [YR2008]': 'y2008',
        '2009 [YR2009]': 'y2009',
        '2010 [YR2010]': 'y2010',
        '2011 [YR2011]': 'y2011',
        '2012 [YR2012]': 'y2012',
        '2013 [YR2013]': 'y2013',
        '2014 [YR2014]': 'y2014',
        '2015 [YR2015]': 'y2015',
        '2016 [YR2016]': 'y2016',
        '2017 [YR2017]': 'y2017',
        '2018 [YR2018]': 'y2018',
        '2019 [YR2019]': 'y2019',
        '2020 [YR2020]': 'y2020'
    }
)

x = 1000
for country in country_list:
    country_row = {}
    # Add the country attributes that don't change
    country_row['Name'] = country
    country_row['Region'] = raw_geo_data.loc[raw_geo_data['Table Name'] == country, 'Region'].values[0]
    country_row['Continent'] = dict_continent[country]
    country_row['Currency'] = raw_geo_data.loc[raw_geo_data['Table Name'] == country, 'Currency Unit'].values[0]
    country_row['Capital'] = dict_capital[country]
    country_row['Income_group'] = raw_geo_data.loc[raw_geo_data['Table Name'] == country, 'Income Group'].values[0]

    specific_row = cp.deepcopy(country_row)
    # Add the country attributes that change every year
    for year in range(2005,2020):
        specific_row['Country_key'] = x
        x = x + 1
        specific_row['Surrogate_year'] = year
        specific_row['Total_population'] = raw_att_data.loc[((raw_att_data.Series == 'Population, total') & (raw_att_data.Country == country)), 'y' + str(year)].values[0]
        specific_row['Population_growth_percent'] = raw_att_data.loc[((raw_att_data.Series == 'Population growth (annual %)') & (raw_att_data.Country == country)), 'y' + str(year)].values[0]
        specific_row['Total_labour_force'] = raw_att_data.loc[((raw_att_data.Series == 'Labor force, total') & (raw_att_data.Country == country)), 'y' + str(year)].values[0]
        specific_row['Birth_rate'] = raw_att_data.loc[((raw_att_data.Series == 'Birth rate, crude (per 1,000 people)') & (raw_att_data.Country == country)), 'y' + str(year)].values[0]
        specific_row['Death_rate'] = raw_att_data.loc[((raw_att_data.Series == 'Death rate, crude (per 1,000 people)') & (raw_att_data.Country == country)), 'y' + str(year)].values[0]
        specific_row['GNI_per_capita'] = raw_att_data.loc[((raw_att_data.Series == 'GNI per capita, Atlas method (current US$)') & (raw_att_data.Country == country)), 'y' + str(year)].values[0]
        # Adding the row into the country dimension dataframe
        country_dimension_df = country_dimension_df.append(pd.DataFrame([specific_row]), ignore_index=True)

country_dimension_df.head(50)

,Country_key,Surrogate_year,Name,Region,Continent,Currency,Capital,Total_population,Population_growth_percent,Total_labour_force,Birth_rate,Death_rate,GNI_per_capita,Income_group
0,1000,2005,Bangladesh,South Asia,Asia,Bangladeshi taka,Dhaka,139035505.0,1.484747,53123178.0,24.053,6.205,550.0,Lower middle income
1,1001,2006,Bangladesh,South Asia,Asia,Bangladeshi taka,Dhaka,140921154.0,1.347121,54083636.0,23.384,6.092,570.0,Lower middle income
2,1002,2007,Bangladesh,South Asia,Asia,Bangladeshi taka,Dhaka,142660381.0,1.226631,54954286.0,22.747,5.987,610.0,Lower middle income
3,1003,2008,Bangladesh,South Asia,Asia,Bangladeshi taka,Dhaka,144304164.0,1.145647,55799460.0,22.153,5.892,660.0,Lower middle income
4,1004,2009,Bangladesh,South Asia,Asia,Bangladeshi taka,Dhaka,145924795.0,1.116806,56639145.0,21.605,5.807,730.0,Lower middle income
5,1005,2010,Bangladesh,South Asia,Asia,Bangladeshi taka,Dhaka,147575433.0,1.124807,57493263.0,21.107,5.734,800.0,Lower middle income
6,1006,2011,Bangladesh,South Asia,Asia,Bangladeshi taka,Dhaka,149273134.0,1.143829,58436990.0,20.657,5.673,890.0,Lower middle income
7,1007,2012,Bangladesh,South Asia,Asia,Bangladeshi taka,Dhaka,151005733.0,1.154006,59377977.0,20.245,5.625,970.0,Lower middle income
8,1008,2013,Bangladesh,South Asia,Asia,Bangladeshi taka,Dhaka,152761413.0,1.155951,60318372.0,19.862,5.589,1040.0,Lower middle income
9,1009,2014,Bangladesh,South Asia,Asia,Bangladeshi taka,Dhaka,154517385.0,1.142930,61262254.0,19.501,5.565,1110.0,Lower middle income
10,1010,2015,Bangladesh,South Asia,Asia,Bangladeshi taka,Dhaka,156256287.0,1.119091,62203550.0,19.156,5.549,1220.0,Lower middle income
11,1011,2016,Bangladesh,South Asia,Asia,Bangladeshi taka,Dhaka,157977151.0,1.095288,63131472.0,18.824,5.539,1370.0,Lower middle income
12,1012,2017,Bangladesh,South Asia,Asia,Bangladeshi taka,Dhaka,159685421.0,1.075535,66854855.0,18.501,5.533,1520.0,Lower middle income
13,1013,2018,Bangladesh,South Asia,Asia,Bangladeshi taka,Dhaka,161376713.0,1.053570,68073235.0,18.184,5.529,1750.0,Lower middle income
14,1014,2019,Bangladesh,South Asia,Asia,Bangladeshi taka,Dhaka,163046173.0,1.029197,69229775.0,17.868,5.526,1930.0,Lower middle income
15,1015,2005,Canada,North America,North America,Canadian dollar,Ottawa,32243753.0,0.944467,17821886.0,10.600,7.100,34810.0,High income
16,1016,2006,Canada,North America,North America,Canadian dollar,Ottawa,32571174.0,1.010335,18030705.0,10.900,7.000,38510.0,High income
17,1017,2007,Canada,North America,North America,Canadian dollar,Ottawa,32889025.0,0.971135,18379605.0,11.200,7.100,43090.0,High income
18,1018,2008,Canada,North America,North America,Canadian dollar,Ottawa,33247118.0,1.082907,18667574.0,11.300,7.200,45650.0,High income
19,1019,2009,Canada,North America,North America,Canadian dollar,Ottawa,33628895.0,1.141758,18799155.0,11.300,7.100,43230.0,High income
20,1020,2010,Canada,North America,North America,Canadian dollar,Ottawa,34004889.0,1.111864,19001081.0,11.100,7.000,44490.0,High income
21,1021,2011,Canada,North America,North America,Canadian dollar,Ottawa,34339328.0,0.978698,19147395.0,11.000,7.100,47190.0,High income
22,1022,2012,Canada,North America,North America,Canadian dollar,Ottawa,34714222.0,1.085817,19322866.0,11.000,7.100,51080.0,High income
23,1023,2013,Canada,North America,North America,Canadian dollar,Ottawa,35082954.0,1.056591,19546552.0,10.800,7.200,52800.0,High income
24,1024,2014,Canada,North America,North America,Canadian dollar,Ottawa,35437435.0,1.005338,19629145.0,10.800,7.300,52200.0,High income
25,1025,2015,Canada,North America,North America,Canadian dollar,Ottawa,35702908.0,0.746339,19747709.0,10.700,7.400,47590.0,High income
26,1026,2016,Canada,North America,North America,Canadian dollar,Ottawa,36109487.0,1.132349,19955331.0,10.600,7.400,43890.0,High income
27,1027,2017,Canada,North America,North America,Canadian dollar,Ottawa,36545295.0,1.199682,20218270.0,10.300,7.500,42900.0,High income
28,1028,2018,Canada,North America,North America,Canadian dollar,Ottawa,37065178.0,1.412548,20396697.0,10.100,7.700,45080.0,High income
29,1029,2019,Canada,North America,North America,Canadian dollar,Ottawa,37593384.0,1.415015,20788261.0,9.900,7.600,46550.0,High income
30,1030,2005,Chad,Sub-Saharan Africa,Africa,Central African CFA franc,N'Djamena,10096630.0,3.649862,3421436.0,49.325,16.636,470.0,Low income
31,1031,2006,Chad,Sub-Saharan Africa,Africa,Central African CFA franc,N'Djamena,10457122.0,3.508157,3513870.0,48.848,16.295,530.0,Low income
32,1032,2007,Chad,Sub-Saharan Africa,Africa,Central African CFA franc,N'Djamena,10818031.0,3.393100,3609400.0,48.327,15.909,630.0,Low income
33,1033,2008,Chad,Sub-Saharan Africa,Africa,Central African CFA franc,N'Djamena,11183589.0,3.323316,3709120.0,47.772,15.489,700.0,Low income
34,1034,2009,Chad,Sub-Saharan Africa,Africa,Central African CFA franc,N'Djamena,11560142.0,3.311571,3814334.0,47.194,15.047,830.0,Low income
35,1035,2010,Chad,Sub-Saharan Africa,Africa,Central African CFA franc,N'Djamena,11952134.0,3.334669,3925808.0,46.603,14.598,910.0,Low income
36,1036,2011,Chad,Sub-Saharan Africa,Africa,Central African CFA franc,N'Djamena,12360986.0,3.363538,4034855.0,46.010,14.161,890.0,Low income
37,1037,2012,Chad,Sub-Saharan Africa,Africa,Central African CFA franc,N'Djamena,12784748.0,3.370768,4151116.0,45.420,13.752,960.0,Low income
38,1038,2013,Chad,Sub-Saharan Africa,Africa,Central African CFA franc,N'Djamena,13220433.0,3.351069,4272988.0,44.841,13.380,970.0,Low income
39,1039,2014,Chad,Sub-Saharan Africa,Africa,Central African CFA franc,N'Djamena,13663562.0,3.296899,4398728.0,44.276,13.053,980.0,Low income
40,1040,2015,Chad,Sub-Saharan Africa,Africa,Central African CFA franc,N'Djamena,14110971.0,3.222000,4527305.0,43.730,12.770,880.0,Low income
41,1041,2016,Chad,Sub-Saharan Africa,Africa,Central African CFA franc,N'Djamena,14561658.0,3.143933,4649302.0,43.201,12.527,730.0,Low income
42,1042,2017,Chad,Sub-Saharan Africa,Africa,Central African CFA franc,N'Djamena,15016761.0,3.077507,4774387.0,42.683,12.309,640.0,Low income
43,1043,2018,Chad,Sub-Saharan Africa,Africa,Central African CFA franc,N'Djamena,15477727.0,3.023505,4902823.0,42.172,12.104,680.0,Low income
44,1044,2019,Chad,Sub-Saharan Africa,Africa,Central African CFA franc,N'Djamena,15946882.0,2.986130,5074502.0,41.665,11.907,700.0,Low income
45,1045,2005,Guinea,Sub-Saharan Africa,Africa,Guinean franc,Conakry,9109585.0,2.038915,3121797.0,41.956,13.545,360.0,Low income
46,1046,2006,Guinea,Sub-Saharan Africa,Africa,Guinean franc,Conakry,9307421.0,2.148488,3192631.0,41.501,12.954,400.0,Low income
47,1047,2007,Guinea,Sub-Saharan Africa,Africa,Guinean franc,Conakry,9518159.0,2.238941,3269621.0,41.048,12.379,470.0,Low income
48,1048,2008,Guinea,Sub-Saharan Africa,Africa,Guinean franc,Conakry,9738796.0,2.291605,3351766.0,40.598,11.854,620.0,Low income
49,1049,2009,Guinea,Sub-Saharan Africa,Africa,Guinean franc,Conakry,9964470.0,2.290827,3437284.0,40.153,11.395,670.0,Low income

## Month

In [11]:
month_values = ["January","February","March","April","May","June","July","August","September","October","November","December"]
first_quarter = ["January","February","March"]
secound_quarter = ["April","May","June"]
third_quarter = ["July","August","September"]
forth_quarter = ["October","November","December"]
year_values = list(range(2005,2021))#this gives a list of values starting at 2005 to 2020
decade_values = [1,2]

#create list of dicts that represent each row
key_value = 2000
month_row_list = []
for year in year_values:
    for month in month_values:

        key_value += 1
        mount_row = {}
        mount_row["Month_Key"] = key_value
        mount_row["Month"] = month
        mount_row["Year"] = year

        if month in first_quarter:
            mount_row["Quarter"] = 1
        elif month in secound_quarter:
            mount_row["Quarter"] = 2
        elif month in third_quarter:
            mount_row["Quarter"] = 3
        else:
            mount_row["Quarter"] = 4
        
        if year <= 2010:
            mount_row["Decade"] = 1
        else:
            mount_row["Decade"] = 2

        month_row_list.append(mount_row)

month_df = pd.DataFrame(month_row_list)
print(month_df.head())

   Month_Key     Month  Year  Quarter  Decade
0       2001   January  2005        1       1
1       2002  February  2005        1       1
2       2003     March  2005        1       1
3       2004     April  2005        2       1
4       2005       May  2005        2       1

## Education

In [3]:
hnp_data = pd.read_csv("raw_data/education.csv")
hnp_data.head()

,SeriesName,SeriesCode,CountryName,CountryCode,2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Africa Eastern and Southern,AFE,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
1,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Africa Western and Central,AFW,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
2,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Arab World,ARB,58.8121681213379,58.6921691894531,59.1082191467285,60.4463195800781,58.9698181152344,60.2376518249512,62.4384498596191,66.0942764282227,65.2387313842773,67.7367477416992,65.5670394897461,67.3514862060547,68.6543579101563,65.5303192138672,65.8576126098633,66.1968994140625
3,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Caribbean small states,CSS,91.4608535766602,91.6320877075195,92.3097915649414,92.5576705932617,92.7684631347656,92.9917678833008,93.1499099731445,93.0394897460938,92.8167495727539,92.9547271728516,93.0601425170898,..,..,..,..,..
4,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Central Europe and the Baltics,CEB,98.1644287109375,98.184440612793,98.2189102172852,98.2749710083008,98.5478668212891,98.5772323608398,98.6045684814453,98.6247100830078,98.6415405273438,98.6618728637695,98.6808471679688,98.7023162841797,..,..,..,..

In [4]:
def get_country_rows(list_country, data):
    country_idx = {}
    for country in list_country:
        country_idx[country] = []
    for idx, row in data.iterrows():
        if row.CountryName in list_country:
            country_idx[row.CountryName].append(idx)
    return country_idx

x = get_country_rows(country_list,hnp_data)
print(x)

{'Bangladesh': [64, 330, 596, 862, 1128, 1394, 1660, 1926, 2192, 2458, 2724, 2990, 3256, 3522, 3788, 4054, 4320, 4586, 4852, 5118, 5384, 5650], 'Cambodia': [82, 348, 614, 880, 1146, 1412, 1678, 1944, 2210, 2476, 2742, 3008, 3274, 3540, 3806, 4072, 4338, 4604, 4870, 5136, 5402, 5668], 'Canada': [84, 350, 616, 882, 1148, 1414, 1680, 1946, 2212, 2478, 2744, 3010, 3276, 3542, 3808, 4074, 4340, 4606, 4872, 5138, 5404, 5670], 'Chad': [87, 353, 619, 885, 1151, 1417, 1683, 1949, 2215, 2481, 2747, 3013, 3279, 3545, 3811, 4077, 4343, 4609, 4875, 5141, 5407, 5673], 'Eritrea': [110, 376, 642, 908, 1174, 1440, 1706, 1972, 2238, 2504, 2770, 3036, 3302, 3568, 3834, 4100, 4366, 4632, 4898, 5164, 5430, 5696], 'Mexico': [176, 442, 708, 974, 1240, 1506, 1772, 2038, 2304, 2570, 2836, 3102, 3368, 3634, 3900, 4166, 4432, 4698, 4964, 5230, 5496, 5762], 'Philippines': [204, 470, 736, 1002, 1268, 1534, 1800, 2066, 2332, 2598, 2864, 3130, 3396, 3662, 3928, 4194, 4460, 4726, 4992, 5258, 5524, 5790], 'South Sudan': [227, 493, 759, 1025, 1291, 1557, 1823, 2089, 2355, 2621, 2887, 3153, 3419, 3685, 3951, 4217, 4483, 4749, 5015, 5281, 5547, 5813], 'United States': [255, 521, 787, 1053, 1319, 1585, 1851, 2117, 2383, 2649, 2915, 3181, 3447, 3713, 3979, 4245, 4511, 4777, 5043, 5309, 5575, 5841]}

In [6]:

education_df = pd.DataFrame(
    columns = ["education_key", "literacy_rate_percent_m_15-24","literacy_rate_percent_15-24","literacy_rate_percent_f_15-plus","literacy_rate_percent_m_15-plus","literacy_percent_15-plus","primary_completion_rate_percent_f","primary_completion_rate_percent_m","primary_completion_rate_percent","primary_enroll_rate_percent_gross","pimary_enroll_rate_percent_gross_f","pimary_enroll_rate_percent_gross_m","primary_enroll_rate_percent_net","primary_enroll_rate_percent_net_f","primary_enroll_rate_percent_net_m","secondary_enroll_rate_percent_gross","secondary_enroll_rate_percent_gross_f","secondary_enroll_rate_percent_gross_m","secondary_enroll_rate_percent_net","secondary_enroll_rate_percent_net_f","secondary_enroll_rate_percent_net_m","tertiary_enroll_rate_percent_gross","spending_education_percent_gdp"]
)
hnp_data.head()

,SeriesName,SeriesCode,CountryName,CountryCode,2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Africa Eastern and Southern,AFE,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
1,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Africa Western and Central,AFW,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
2,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Arab World,ARB,58.8121681213379,58.6921691894531,59.1082191467285,60.4463195800781,58.9698181152344,60.2376518249512,62.4384498596191,66.0942764282227,65.2387313842773,67.7367477416992,65.5670394897461,67.3514862060547,68.6543579101563,65.5303192138672,65.8576126098633,66.1968994140625
3,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Caribbean small states,CSS,91.4608535766602,91.6320877075195,92.3097915649414,92.5576705932617,92.7684631347656,92.9917678833008,93.1499099731445,93.0394897460938,92.8167495727539,92.9547271728516,93.0601425170898,..,..,..,..,..
4,"Literacy rate, adult female (% of females ages...",SE.ADT.LITR.FE.ZS,Central Europe and the Baltics,CEB,98.1644287109375,98.184440612793,98.2189102172852,98.2749710083008,98.5478668212891,98.5772323608398,98.6045684814453,98.6247100830078,98.6415405273438,98.6618728637695,98.6808471679688,98.7023162841797,..,..,..,..

In [7]:
x = get_country_rows(country_list, hnp_data)
year_list = ["2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020"]

ed_country_dim_data = {}
for country in country_list:
    ed_country_dim_data[country]={}
    for year in year_list:
        ed_country_dim_data[country][year] = {}
counter = 1  

year_idx = {}
idx = 4
for year in year_list:
    year_idx[year] = idx
    idx=idx+1
    
def populate_dim_data(dim_data,country,column,row):
    for key, value in year_idx.items():
        dim_data[country][key][column] = row[value]


hnp_data.values.tolist()
for row in hnp_data.values.tolist():
    if row[2] in country_list:
        if row[0] == "Literacy rate, adult female (% of females ages 15 and above)":
            populate_dim_data(ed_country_dim_data,row[2],"literacy_rate_percent_f_15-plus",row)
        elif row[0] == "Literacy rate, adult male (% of males ages 15 and above)":
            populate_dim_data(ed_country_dim_data,row[2],"literacy_rate_percent_m_15-plus",row)
        elif row[0] == "Literacy rate, adult total (% of people ages 15 and above)":
            populate_dim_data(ed_country_dim_data,row[2],"literacy_percent_15-plus",row)
        elif row[0] == "Literacy rate, youth total (% of people ages 15-24)":
            populate_dim_data(ed_country_dim_data,row[2],"literacy_rate_percent_15-24",row)
        elif row[0] == "Literacy rate, youth male (% of males ages 15-24)":
            populate_dim_data(ed_country_dim_data,row[2],"literacy_rate_percent_m_15-24",row)
        elif row[0] == "Primary completion rate, female (% of relevant age group)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_completion_rate_percent_f",row)
        elif row[0] == "Primary completion rate, male (% of relevant age group)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_completion_rate_percent_m",row)
        elif row[0] == "Primary completion rate, total (% of relevant age group)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_completion_rate_percent",row)
        elif row[0] == "School enrollment, primary (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_enroll_rate_percent_gross",row)
        elif row[0] == "School enrollment, primary, female (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"pimary_enroll_rate_percent_gross_f",row)
        elif row[0] == "School enrollment, primary, male (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"pimary_enroll_rate_percent_gross_m",row)
        elif row[0] == "School enrollment, primary (% net)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_enroll_rate_percent_net",row)
        elif row[0] == "School enrollment, primary, female (% net)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_enroll_rate_percent_net_f",row)
        elif row[0] == "School enrollment, primary, male (% net)":
            populate_dim_data(ed_country_dim_data,row[2],"primary_enroll_rate_percent_net_m",row)
        elif row[0] == "School enrollment, secondary (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"secondary_enroll_rate_percent_gross",row)
        elif row[0] == "School enrollment, secondary, female (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"secondary_enroll_rate_percent_gross_f",row)
        elif row[0] == "School enrollment, secondary, male (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"secondary_enroll_rate_percent_gross_m",row)
        elif row[0] == "School enrollment, secondary (% net)":
            populate_dim_data(ed_country_dim_data,row[2],"secondary_enroll_rate_percent_net",row)
        elif row[0] == "School enrollment, secondary, female (% net)":
            populate_dim_data(ed_country_dim_data,row[2],"secondary_enroll_rate_percent_net_f",row)
        elif row[0] == "School enrollment, secondary, male (% net)":
            populate_dim_data(ed_country_dim_data,row[2],"secondary_enroll_rate_percent_net_m",row)
        elif row[0] == "School enrollment, tertiary (% gross)":
            populate_dim_data(ed_country_dim_data,row[2],"tertiary_enroll_rate_percent_gross",row)
        elif row[0] == "Government expenditure on education, total (% of GDP)":
            populate_dim_data(ed_country_dim_data,row[2],"spending_education_percent_gdp",row)

list_data = []
for country in country_list:
    for year in year_list:
        list_data.append([ed_country_dim_data[country][year]])
#         education_df.append(pd.DataFrame(), ignore_index=True)


for i in list_data:
    education_df = education_df.append(pd.DataFrame(i), ignore_index=True)

In [102]:
education_df.head()

,education_key,literacy_rate_percent_m_15-24,literacy_rate_percent_15-24,literacy_rate_percent_f_15-plus,literacy_rate_percent_m_15-plus,literacy_percent_15-plus,primary_completion_rate_percent_f,primary_completion_rate_percent_m,primary_completion_rate_percent,primary_enroll_rate_percent_gross,...,primary_enroll_rate_percent_net_f,primary_enroll_rate_percent_net_m,secondary_enroll_rate_percent_gross,secondary_enroll_rate_percent_gross_f,secondary_enroll_rate_percent_gross_m,secondary_enroll_rate_percent_net,secondary_enroll_rate_percent_net_f,secondary_enroll_rate_percent_net_m,tertiary_enroll_rate_percent_gross,spending_education_percent_gdp
0,NaN,..,..,..,..,..,..,..,..,97.3645706176758,...,..,..,101.391189575195,100.234382629395,102.487060546875,..,..,..,..,NaN
1,NaN,..,..,..,..,..,..,..,..,98.8806304931641,...,..,..,101.728248596191,100.669502258301,102.732360839844,..,..,..,..,NaN
2,NaN,..,..,..,..,..,..,..,..,98.9664764404297,...,..,..,101.90348815918,100.74836730957,103.001899719238,..,..,..,63.6000595092773,NaN
3,NaN,..,..,..,..,..,..,..,..,98.013313293457,...,..,..,102.344436645508,101.104248046875,103.525932312012,..,..,..,63.7673988342285,NaN
4,NaN,..,..,..,..,..,..,..,..,99.0087966918945,...,..,..,102.734443664551,101.503608703613,103.908081054688,..,..,..,63.0657691955566,NaN

## Quality of Life

In [ ]:
# add CSV stuff here
hnp_data = pd.read_csv("raw_data/education.csv")#change to proper csv

In [ ]:
#needs to contain
#Quality of Life (QualityofLifeKey, Quality of Services e.g., {Access to Drinking
#Water, Access to Sanitation, Access to Basic Handwashing Facilities},
#Unemployment rate attributes e.g., {Female, Male, Total}, Maternal Leave benefits,
#…)